@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@theme {
  /* Fonts */
  --font-inter: var(--font-inter);

  /* Colors */
  --color-primary_100: var(--color-primary-100);
  --color-primary_200: var(--color-primary-200);
  --color-primary_300: var(--color-primary-300);
  --color-primary_400: var(--color-primary-400);
  --color-primary_500: var(--color-primary-500);
  --color-primary_600: var(--color-primary-600);
  --color-primary_700: var(--color-primary-700);
  
  --color-secondary_100: var(--color-secondary-100);
  --color-secondary_200: var(--color-secondary-200);
  --color-secondary_300: var(--color-secondary-300);
  --color-secondary_400: var(--color-secondary-400);
  --color-secondary_500: var(--color-secondary-500);
  --color-secondary_600: var(--color-secondary-600);
  --color-secondary_700: var(--color-secondary-700);
  
  --color-tertiary_100: var(--color-tertiary-100);
  --color-tertiary_200: var(--color-tertiary-200);
  --color-tertiary_300: var(--color-tertiary-300);
  --color-tertiary_400: var(--color-tertiary-400);
  --color-tertiary_500: var(--color-tertiary-500);
  --color-tertiary_600: var(--color-tertiary-600);
  --color-tertiary_700: var(--color-tertiary-700);

  /* Box shadow */
  --shadow-header: var(--shadow-header);
}

:root {
  /* Fonts */
  --font-inter: 'Inter', sans-serif;

  /* Colors */
  --color-primary-100: #f5f7f6;
  --color-primary-200: #c8d0cc;
  --color-primary-300: #a2a8a5;
  --color-primary-400: #7e8380;
  --color-primary-500: #5b5f5d;
  --color-primary-600: #3b3d3c;
  --color-primary-700: #1d1f1e;

  --color-secondary-100: #d5ddd9;
  --color-secondary-200: #aeb5b1;
  --color-secondary-300: #898e8c;
  --color-secondary-400: #666a68;
  --color-secondary-500: #454846;
  --color-secondary-600: #262827;
  --color-secondary-700: #101111;

  --color-tertiary-100: #eeeef9;
  --color-tertiary-200: #c1c5e9;
  --color-tertiary-300: #959cda;
  --color-tertiary-400: #6974c9;
  --color-tertiary-500: #4350a6;
  --color-tertiary-600: #29326c;
  --color-tertiary-700: #111637;

  /* Box shadow */
  --shadow-header:
    0px 23px 6px 0px rgba(0, 0, 0, 0), 0px 14px 6px 0px rgba(0, 0, 0, 0.01),
    0px 8px 5px 0px rgba(0, 0, 0, 0.05), 0px 4px 4px 0px rgba(0, 0, 0, 0.09),
    0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  
  /* Styles for Shadcn */
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

* {
  scroll-behavior: smooth;
}
